@model AffilateMarketingWeb.Models.Category

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning " })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary " })
</p>
